.section-content {
  display: flex;
  padding: 10px;
  position: relative;
}
.section-content__text {
  flex-grow: 1;
  padding: 10px 8px;
  background-color: white;
}

.section-content__text--hidden {
  display: none;
}

.section-content__timestamp {
  padding: 10px 8px;
  flex-shrink: 0;
  background-color: white;
}

.section-content__edit {
  display: none;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 18px);
  background-color: rgba(0,0,0,0.4);
  font-size: 14px;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  cursor: pointer;
}

.section-content--editable:hover .section-content__edit {
  display: flex;
  justify-content: center;
  align-items: center;
}
