.section {
  background-color: #F5F5F5;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.section__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.section__header-time {
  padding: 8px;
  color: #606060;
  border: none;
}

.section__header-toggle:hover {
  color: #0069ff;
}
.hidden {
  display: none;
}
.section__header-delete {
  border: none;
  color: #ee4035;
  padding: 4px 8px;
  line-height: 1;
  cursor: pointer;
}

.section__header-delete:hover {
  color: #b85b53;
}
