
.sidebar-container {
  flex-shrink: 0;
  width: 100%;
}

.sidebar {
  padding: 10px;
  height: 400px;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 601px) {
  .sidebar-container {
    width: 25%;
  }
  .sidebar {
    height: calc(100vh - 90px);
  }
}



.sidebar-section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidebar-section:last-child {
  margin-bottom: 0;
}

.sidebar-label {
  margin-bottom: 5px;
}

.sidebar-input-box {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #818181;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto mono", monospace;
  color: #818181;
  cursor: pointer;
  outline: none;
}

.sidebar-input-box:hover {
  border-bottom: 1px solid #606060;
  color: #606060;
}

.sidebar-link-box {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #448aff;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto mono", monospace;
  color: #448aff;
  cursor: pointer;
  outline: none;
}

.sidebar-link-box:hover {
  border-bottom: 1px solid #0069ff;
  color: #0069ff;
}

.sidebar-url-container {
  display: flex;
}

.sidebar-button-pair {
  margin-left: -1px;
}

.sidebar-start-button {
  display: block;
  width: 100%;
  padding: 15px 20px !important;
  /* background-color: #3c3c3c !important;
  color: #9e9e9e !important; */
}

.sidebar-buttons {
  margin-bottom: 20px;
}

input,
textarea,
select,
button {
  font-family: "Roboto mono", monospace !important;
}
